
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 15em;
    height: 100vh;
    padding-right: 2rem;
  }

  .navLogo {
    margin: 1rem 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
